body {
    text-align: center;
    background-color: #1e1e1e;
}

h1, h2, p {
    font-family: 'Special Elite', cursive;
    color:#e9a245;
}

p {
    font-size: 1.2rem;
}

#text-button {
    background-color: #7d472c;
}

/* ANIMATIONS */

.golden-flash {
    color: #fffab0; 
}

#text-button:hover {
    background-color: #fffab0;
    color: black;
}


/* MEDIA */

@media (max-width: 508px) {
    .chest-img {
        width: 100%;
    }
}
